/* GENERAL */

header{
    height: 600px;
    background-color: #2C3E50;
}

footer{
    min-height: 100px;
}

img{
    max-width: 100%;
    display: inline-block;
}

/* SECTION LAYOUT */
#main-nav{
    height: 80px;
  
}

.jumbotron{
    height: 520px;
}



/* UTILITY */
.bg-wgreen{
    background-color: #1ABC9C;
}

.txt-wgreen{
    color:#1ABC9C;
}

/* JUMBOTRON */

.jumbotron img{
    width: 250px;
    height: 250px;
}


/* FOOTER */

.top-footer{
    background-color: #3A546D;
}

footer li{
    height: 50px;
    width: 50px;
    line-height: 50px;
}

.bottom-footer{
    background-color: #2C3E50;
}